# Environment
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
venv/
.venv*/
env/
build/
dist/

# IDE
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

#DATABASE YEDEĞİ
frc-grant-tracker-backup.dump
